**/node_modules
**/.next
**/dist
**/cdk.out
.git
.kiro
.playwright-cli
.dev-logs
**/tests
**/*.md
**/.env*
!**/.env*.example
design/
docs/
.github/
**/.dockerignore
**/.gitignore
**/.playwright-cli
**/tsconfig.tsbuildinfo
apps/cdk/
